# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Django stuff
*.sqlite3
db.sqlite3
media/
static/
*.log
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Django migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/

